.Botones{
    width: 9vh;
    height: 9vh;
    margin: 2vh;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    border: 2px solid black;
    background-image: radial-gradient(circle at 29.74% 6.56%, #ffdcf5 0, #ffcfef 16.67%, #ffbde6 33.33%, #f3a7d9 50%, #dc92cd 66.67%, #c882c6 83.33%, #b679c3 100%);
}

.Botones:hover{
    background-image: radial-gradient(circle at 50% 50%, #80eaa9 0, #69e3a7 16.67%, #4adaa4 33.33%, #00cf9f 50%, #00c49b 66.67%, #00bb9a 83.33%, #00b39b 100%);
}