@import url(Componentes.css);

*{
    margin: 0px;
    padding: 0px;
}
.Calculadora{
    background-color: rgba(142, 68, 173, 1);
}

.Calculadora .Fondo{
    position: absolute;
    background-color: rgba(191, 85, 236, 0.5);
    padding: 10px;
    width: 59vh;
    height: 80vh;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.Calculadora .Fondo .Display{
    position: relative;
    background-color: white;
    width: 53vh;
    height: 5vh;
    margin: 1vh;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}


.Calculadora .Fondo .Boton{
    position: relative;
    background-color:rgba(159, 90, 253, 0.5);
    margin: 1vh;
    height: auto;
    width: 54vh;
    float: left;
    border-radius: 40px;
}

.Calculadora .Fondo .Operadores{
    position: relative;
    background: transparent;
    float: right;
    width: 12vh;
    height: auto;
    margin: 1vh;
}
